body {
    background: silver;
    font: 12px 'trebuchet ms', arial, sans-serif;
}


/** Structure */
#header {
    padding: 20px;
    background: #133364;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #436fac;
    width: 1000px;
    /*margin-left: 10%;*/
    margin:0 auto;
}
#botonesI{
	text-align: right;
}
#logo{
    width: 115px;
    height: 125px;
    background-repeat: no-repeat;
    text-decoration: none;
}
#buscador p{
    font-family: verdana;
    font-size: 14px;
    color: #FFBF00;
    font-weight: bold;
}
#content {
    background: #fff;
    padding: 20px;
    /* width: 80%;*/
    width: 1000px;
    margin:0 auto;
}

#footer {
    background: #133364;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1000px;   
    margin:0 auto;
}

/* Links */
#botonesI a {
    color: #fff;
    /*background: #436fac;*/
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    bottom: 4px;
}

#botonesI a:hover {
    background: #FFBF00;
    color: #436fac;
}
#mensaje{
	color:red;
	font-size:14px;
}

/** Forms */

form {
    font: 100% verdana,arial,sans-serif;
}

#formulario form label { 
    display: block;
    float: left; 
    width: 352px; 
    padding: 0; 
    margin: 7px 0 0;
    text-align: right; 
}
#formulario #programaDescrip,#formulario  #personaResumenBio {
   height:100px;
}
#formulario #programaContent ,#formulario  #personaContent {
   height:190px;
}

#formulario form input[type=text], form select, form textarea {
    width: 369px;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px 5px 5px 5px;
}

#nacimiento.picker fieldset.birthday-picker select{
  width: auto;
}

#nacimiento.picker fieldset.birthday-picker {
	padding: 0;
	border: 0;
}

.b-d, .labelHidden {
	display: none !important;
}

#programaHorario {
	padding: 0px;
	margin: 0px;
}

#programaHorario  input[type=text] {
	width: 76px !important;
}

#formulario form  input[readonly="readonly"] {
    background-color: #c0c0c0;
}

/*#formulario form input[type=button]:hover {
	
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    
	background: #FFBF00;
	border: 1px #FFBF00 solid;
	width: 150px;
	
}*/
#formulario form input[type=button]  form input[type=submit]{
	
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    
	background: #FFBF00;
	border: 1px #FFBF00 solid;
	width: 150px;
}

#formulario form br {clear: left;}
/***************************/
#program{
    width: 90%;
    left: 5%;
}

/********************************/
#listado{ color:#133364}



#listado form input[type=text] {    
    width: 190px;
    margin: 5px 0 0 10px;
    border: 1px solid gray !important;
    padding: 1px;
    border-radius: 5px 5px 5px 5px;

}


#listado form input[type=button] {    
    width: 150px;
    margin: 5px 0 0 10px;
    border: 1px solid #FFBF00 !important;
    padding: 1px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background: #FFBF13;
	border: 1px #FFBF13 solid;

}
    

form #acomodar{
    float: left;
    height: 35px;
    width: 480px;
}
form #acomodarG{
    float: left;
    height: 75px;
    width: 480px;
}
form #acomodarG #acciones{
    margin-left: 25%;
}
form #acomodarGR{
    float: left;
    height: 110px;
    width: 498px;
}
form #acomodarGR label{
    display: block;
    float: left;
    margin: 9px 0 0;
    padding: 0;
    text-align: right;
    width: 90px;
}
#de{float: left;}
input:invalid textarea:invalid {  border: 1px solid red;  }  
/* Estilo por defecto */  
input:valid textarea:valid {  border: 1px solid green;  }

span a{
    cursor: pointer;
    text-decoration:none;
}
#personaRelacionada, #relacionNueva, #programaRelacionado, #programaRelacionado2, #personaRelacionada2{ 
    display:none;
}
#personaRelacionada2{
	margin-left: 600px;
    margin-top: -85px;
   	position:absolute;
}
#programaRelacionado2{
	margin-left: 600px;
    margin-top: -85px;
   	position:absolute;
}

#orden{
	left: 600px;
    position: absolute;
    /*top: 850px;*/
	margin-top: -85px;
    width: 200px;
    display:none;
}
#programa{
    width: 328px;
    height: 60px;
    display: inline-block;
}

#botones {
	background: #FFBF00;
	border: 1px #FFBF00 solid;
	width: 150px;
	border-radius: 5px 5px 5px 5px;
	
	
}
.botones {
	background: #FFBF00;
	border: 1px #FFBF00 solid;
	width: 150px;
	border-radius: 5px 5px 5px 5px;
	
	
}
#botonesMin{
	background: #FFBF00;
	border: 1px #FFBF00 solid;
	width: 50px;
	border-radius: 5px 5px 5px 5px;
	text-align:center;
    cursor: pointer;
	
	
}
#paginador{
	text-align: right;
}

#pagina{
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    width: 31px;
}
#pagina a{
	text-decoration:none;
}

#opener , #opener2{
	cursor: help;
    margin-left: 785px;
    position: absolute;
	width: 16px;
	height: 16px
}

#opener {
	margin-top: 5px;
}

#opener2 {
	margin-top: 545px;
}

#namecheck img {
	vertical-align: sub;
	height: 17px;
	width: 17px;
	margin-left: 15px;
}

.name-image {
	width: 75px;
	height: 75px;
	border: 1px solid #d95252;
}

.qtip-content > table > tbody > tr > td:nth-child(2) > h2 {
	margin-top: -15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #opener2{margin-top: 530px;}
}
