.radio label, .checkbox label {
	padding-left: 10px;
}
table.table tbody tr td {
	vertical-align: middle;
}
.widget-header {
	padding-left: 0px;
	text-align: center;
}
.btn-alt {
	background: none repeat scroll 0 0 #8B9AA3;
	border-radius: 19px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin-left: 5px;
	padding: 5px;
	position: relative;
	width: 56px;
	text-align: center;
	padding-top: 2px;
}
.btn-alt:hover {
	color: #FFF;
}
.help-block { 
	display: none !important;
}
.fa-li {
	top: 0.3em;
}