body {
    background: silver;
}
#login{
    width: 345px;
    height: 315px;
    margin: 15% auto;
    -webkit-box-shadow: 20px 23px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 20px 23px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 20px 23px 5px 0px rgba(0,0,0,0.45);
    background-color: silver;
}
#formularioLogin{
    width: 342px;
    height: 250px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: 4px solid #133364;
    background-color: #FFF;
}
#formularioLogin label{
    font-family: Verdana;
    font-size: 12px;
}
#inp{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid gray;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 30px;
}
#headerLogin{
    border-radius: 10px 10px 0px 0px;
    background-color: #133364;
    width: 350px;
    height: 50px;
    padding-top: 10px;
}
#headerLogin h1{
    font-family: Verdana;
    font-size: 15px;
    color: #ffffff;
}
.error {
	color: #D8000C;
	background-color:#FFBABA;
	text-align: center;
}



